name: lint, test and build
on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Use node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: NPM Install
        run: npm ci
      - name: Check Format
        run: npm run format:check
      - name: Lint
        run: npm run lint
      - name: Build
        run: npm run build
      - name: Test
        run: npm run test
